.button {
  border: none;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.button.large {
  width: 326px;
  height: 60px;
}

.button.medium {
  width: 167px;
  height: 48px;
}

.primary {
  background-color: #fdd94e;
  color: #3b3b3b;
}

.delete {
  background-color: #ffac8f;
  color: #3b3b3b;
}

.gray {
  background-color: #dcdbdc;
  opacity: 0.7;
}

.button:disabled {
  cursor: not-allowed;
}

.secondary {
  background-color: #9747ff;
  color: white;
}
