.input-text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-text {
  height: 60px;
  background-color: #ffffff;
  border: none;
  border-radius: 12px;
  padding: 0 16px;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #3b3b3b;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 7px 1px;
}

.input-text::placeholder {
  color: #b8b8b8;
}

.input-text:focus {
  outline: none;
}

.input-text:disabled {
  cursor: not-allowed;
}

.clickable-input {
  cursor: pointer;
}

.input-text.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 8px;
}
